@use "@/styles/variables.scss" as vars;
@import 'normalize.css';

// Header Mixin
@mixin header {
    header {
        height: 10vw;
        width: 100%;
        background-color: vars.$header-color;
        font-family: vars.$font-family;
        color: vars.$header-font-color;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 0;
        padding: 0;
        
        .logo {
            display: flex;
            align-items: center;
            gap: 3%; 

            img {
                object-fit: contain;
            }

            span {
                line-height: 0.25;

                h1 {
                    font-size: 2rem;
                    white-space: nowrap;
                }

                p {
                    text-align: right;
                }
            }
        }

        nav ul {
            font-weight: 500;
            list-style: none;
            display: flex;
            margin: 0;
            padding: 0;

            li {
                margin: 0 50px;
                font-size: 1rem;
                width: auto;
            }

            a {
                text-decoration: none;
                color: vars.$header-font-color;

                &:hover {
                    color: #0284C7;
                    transition: color 0.2s ease-in-out;
                }
            }
        }
    }
}